:root {
    --com-padd: .4rem;
    --text-color: #c9c9c9;
    --com-bg-color: #fff;
    --primary: #007bff;
    --warning: #ffc61c;
    --danger: #de4251;
    --button-radius: .4rem;
    --default: #6b757d;
    --nav-backgroud: #e2edf3;
    --nav-text: #222;
}

.v-enter-active,
.v-leave-active {
	transition: opacity .6s ;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

.msg-box {
    margin: .4rem;
    border-radius: var(--com-padd);
    min-width: 30vw;
    background-color: var(--com-bg-color);
}

.msg-box header {
    padding: .4rem;
    border-radius: .4rem .4rem 0 0;
    color: white;
}

.bg-primary {
    background: var(--primary);
}

.ab_membership.bg-danger{
	color: var(--com-bg-color) ;
}

.ab_membership.bg-danger h1{
	color: var(--com-bg-color) !important;
}

.bg-danger {
    background: var(--danger);
	
}

.bg-default {
    background: var(--default);
}


.bg-warning {
    background: var(--warning);
}

.msg-box section {
    padding: var(--com-padd);
	margin: var(--com-padd);
    color : var(--default)
}

.msg-box header {
    height: 2.9rem;
}

.msg-box footer {
    display: flex;
    justify-content: center;
    padding: var(--com-padd);
    background-color: var(--com-bg-color);
    color: white;
    border-radius: 0 0 var(--com-padd) var(--com-padd);
}


.msg-box button {
    border-radius: var(--button-radius);
    padding: var(--com-padd);
    margin-left: var(--com-padd);
    border: 0;
    background: var(--primary);
    color: var(--text-color);
}

.msg-box button:hover {
    opacity: .9;
}

.msg-box  button:active {
    transform: scale(.9);
}

